/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  General css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body commmon */
body {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  color: #818181;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.col {
  flex-basis: 50%;
}
.col-left {
  padding-right: 50px;
  border-right: 1px solid #777777;
}
.col-right {
  padding-left: 50px;
}
.btn {
  font-size: 16px;
  background: transparent;
  margin-top: 28px;
  padding: 14px 32px;
  border-radius: 30px;
  outline: 0;

  cursor: pointer;
}
.btn a {
  color: #777777;
  font-weight: 700;
}
.btn a:hover,
.btn:hover {
  background: #5ebd8b;
  color: #ffff;
}

.padding {
  padding: 70px 0;
}
h3,
h4 {
  color: #656565;
}
p {
  font-size: 18px;
}
/*  header  */

.header {
  width: 100%;
  position: absolute;
  padding: 24px 0;
}
.menu_header li {
  display: inline-block;
  margin-left: 14px;
  font-size: 16px;
}
.menu_header li a {
  color: #5ebd8b;
}
.menu_header li a:hover {
  color: antiquewhite;
}
.logo {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fffeee;
}
/* heading  section */
.bold {
  text-transform: uppercase;
}
.heading {
  padding: 180px 0 90px 0;
  background: linear-gradient(to right, #524b77, #723e76);
  line-height: 1.5;
}
.heading-text {
  font-size: 40px;
  color: #ffff;
}
.heading-para {
  font-size: 20px;
}
.btn-heading {
  background: #5ebd8b;
  border: #5ebd8b;
}
.btn-heading a {
  color: #fffeee;
  letter-spacing: 1.1px;
}
/* about */
h3 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 24px;
}
.about p {
  font-size: 18px;
}
.about-menu li {
  background: url(../images/right.png) no-repeat;
  padding-bottom: 24px;
  padding-left: 40px;
  font-size: 20px;
}
/*  img section  */
.section-warpper {
  background: #fafafa;
  box-shadow: 0 -1px 1px #777777;
  font-size: 0;
}
.img-article {
  padding: 50px;
}
.article {
  background: #ffff;
  box-shadow: 0 1px 1px #777777;
}
.img-article p {
  font-size: 18px;
  padding-top: 12px;
}
.img-article {
  font-size: 24px;
}
.sec-padding {
  padding-bottom: 60px;
}
.btn-article {
  text-align: center;
  padding-top: 32px;
}

/*    contact    */
.form-input {
  width: 100%;
  margin-bottom: 24px;
  padding: 8px 16px;
  font-size: 14px;
  outline: 0;
}
.form-margin {
  width: 48%;
}
.form {
  margin-top: 32px;
}
.contact-menu li {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.contact .col-right {
  align-self: flex-start;
}
/* .contact__menu li:last-child {
  align-items: flex-start;
} */
.contact-menu li i {
  width: 40px;
  font-size: 24px;
  color: #5ebd8b;
}
.contact-menu a {
  padding-left: 24px;
  font-size: 24px;
  color: #656565;
  text-transform: lowercase;
}
/* fopter */
.footer {
  text-align: center;
  background: #f8f0f0;
  box-shadow: 0 -1px 1px #cacaca;
}
